  .contact {
    margin: 0;
  }

  .listContacts {
    display: flex;
    align-items: center;
    list-style-type: inherit;
    column-gap: 30px;
    padding: 4px;
  }

  .listContacts::before {
    content: '♕';
    margin-right: -20px;
  }

  .addContact {
    order: none;
    border-radius: 5px;
    background: #ffff00;
    cursor: pointer;
    padding: 3px 10px;
  }

  .addContact:active {
    transform: scale(0.9);
    box-shadow: inset 0 0 10px 0 #00ffff;
  }